{% extends '_layouts/detail-entry.njk' %}

{% block page_title %}Blog entry title{% endblock %}

{% block page_description %}Blog entry description.{% endblock %}

{% block info %}
  <img src="img/pirate.jpg" alt="pirate character" class="img-fluid">
  <p class="byline">By Crit McGillicutty<br>
  <span>Island Breeze Tribune</span></p>
{% endblock %}